:root {
  font-family: "メイリオ", "游ゴシック", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
h1 {
  color: #285943;
  align-items: center;
  padding-bottom: 0.5rem;
}
p {
  font-size: 14px;
}
nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* background-color list 
[green base]
 #D7FFF1
 #8CD790
 #77AF9C
 #285943
*/

#app {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #D7FFF1;
}

#home {
  background-color: #8CD790;
}

.icon-title {
  height: 4rem;
  margin-right: 0.5rem;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  #app {
    padding: 0.5rem;
  }
}
